/* 重置样式 start */
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural 
elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 
*/
th, td { /* table elements 表格元素 */
margin: 0;
padding: 0;

}
ol, ul{
margin: 0;
padding: 0;
list-style: none;
    display: block;

    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/ 
    /*-webkit-padding-start: 40px;*/
}
body, button, input, select, textarea {
			background: #f4f5f7;
			/*background: white;*/
			font: 16px/1.5 "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;}

a {
text-decoration: none;background-color: transparent;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal;}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */

img,input{border:0 none;vertical-align: middle}
div,a{outline:none}
a{text-decoration:none;}
.clear{ clear:both}
.hide{ display:none}
input{	outline: none; }
/* 重置样式 end */


	a:after, div:after, ul:after {
				    content: "";
				    display: block;
				    height: 0;
				    clear: both;
				    visibility: hidden;
				}
					